<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="926068">  <td>20/02/23 21:30:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC1_LoginErrorMessage()[pri:1, instance:com.salesforce.utilities.TestBase@1e7c7811]">TC1_LoginErrorMessage</td> 
  <td>main@156545103</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>20/02/23 21:31:01</td>   <td>44058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC3_Login_CheckRememberMe()[pri:2, instance:com.salesforce.utilities.TestBase@1e7c7811]">TC3_Login_CheckRememberMe</td> 
  <td>main@156545103</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>20/02/23 21:31:53</td>   <td>96228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC4A_ForgotPassword()[pri:3, instance:com.salesforce.utilities.TestBase@1e7c7811]">TC4A_ForgotPassword</td> 
  <td>main@156545103</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>20/02/23 21:33:29</td>   <td>191414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC4B_LoginInvalidCredentials()[pri:5, instance:com.salesforce.utilities.TestBase@1e7c7811]">TC4B_LoginInvalidCredentials</td> 
  <td>main@156545103</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>20/02/23 21:32:37</td>   <td>139805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC5_UserMenu()[pri:4, instance:com.salesforce.utilities.TestBase@1e7c7811]">TC5_UserMenu</td> 
  <td>main@156545103</td>   <td></td> </tr>
</table>
