<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.salesforce.utilities.TestBase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC5_UserMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC3_Login_CheckRememberMe</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC4A_ForgotPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC4B_LoginInvalidCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC1_LoginErrorMessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC2_LoginValidCredentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
