<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fe8984">  <td>20/02/16 01:09:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC1_LoginErrorMessage()[pri:1, instance:com.salesforce.utilities.TestBase@704a52ec]">TC1_LoginErrorMessage</td> 
  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>20/02/16 01:09:13</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC2_LoginValidCredentials()[pri:2, instance:com.salesforce.utilities.TestBase@704a52ec]">TC2_LoginValidCredentials</td> 
  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>20/02/16 01:09:13</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC3_Login_CheckRememberMe()[pri:3, instance:com.salesforce.utilities.TestBase@704a52ec]">TC3_Login_CheckRememberMe</td> 
  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>20/02/16 01:09:13</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC4A_ForgotPassword()[pri:4, instance:com.salesforce.utilities.TestBase@704a52ec]">TC4A_ForgotPassword</td> 
  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>20/02/16 01:09:13</td>   <td>117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC4B_LoginInvalidCredentials()[pri:5, instance:com.salesforce.utilities.TestBase@704a52ec]">TC4B_LoginInvalidCredentials</td> 
  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>20/02/16 01:09:13</td>   <td>156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.TC5_UserMenu()[pri:6, instance:com.salesforce.utilities.TestBase@704a52ec]">TC5_UserMenu</td> 
  <td>main@1543237999</td>   <td></td> </tr>
</table>
